<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="Observian" value="https://nuget.pkg.github.com/observian/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Observian>
            <add key="Username" value="ACTOR" />
            <add key="ClearTextPassword" value="APIKEY" />
        </Observian>
    </packageSourceCredentials>
</configuration>